{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "useTabs": false,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
